<div class="main">                                           
    <% if not @fb_user %>
        <h2> Step 1: Login into your Facebook Account </h2>
    <% elsif @fb_user and not @flickr_user %>
        <h2> Step 2: Authenticate your Flickr Account </h2>
    <% else %>
        <h2> Step 3: Choose the sets that you want to import </h2>
    <% end %>

    <div class="row">
        <div class="span4"> &nbsp; </div>
        <div class="span3">
            <img src = "/assets/<%= @flickr_user ? "flickr.png":"flickr-not-authenticated.png" %>">
            <% if @fb_user and not @flickr_user %>
                <a href="/flickr-auth" class="btn large" style="color: #FE63BB; font-size: 22px"> 
                    Authenticate
                </a> <br>                
            <% else %>
                Logged in as <a href="http://www.flickr.com" style="color: #FE63BB"><%= @flickr_user %> </a>
            <% end %>
            &nbsp;
        </div>
        <div class="span2">
            <img src="/assets/arrow.png" style="padding-top: 30px;"> 
            &nbsp;
        </div>
        <div class="span3">
            <img src = "/assets/<%= @fb_user ? "facebook.png":"facebook-not-authenticated.png" %>">
            <% if not @fb_user %>
                <a href="facebook-auth"> <img src="/assets/facebook-login-button.png" /> </a> <br>                
            <% else %>
                Logged in as <a href="http://www.facebook.com/<%= @fb_user %>"><%= @fb_user %></a>
            <% end%>

        </div>
        <div class="clear"></div>
    </div>
    
    <div id="sets"> </div>
    
</div>
<pre class="prettyprint hide" style="position: absolute; bottom: 0; width: 960px">
        Facebook: <%= debug(@fb_user) if @fb_user %>
        Flickr: <%= debug(@flickr_user) if @flickr_user %>
        <%= @flickr_user.inspect %>
</pre>

<script id="sets_list_template" type="text/x-jquery-tmpl">
<div>
<h4> Choose sets that you want to import </h4>
<form method="post" name="select-sets" action="flickr/select-sets">
{{each(index, set) sets}}
<div class="set">
    <input type="checkbox" name="set" value="${set.id}" checked="true">
    <span>${set.title}</span>
</div>
{{/each}}
<button class="btn large success"> Import! </button>
</div>
</script>

<script type="text/javascript">
var fb_user;
var flickr_user;
<% if @fb_user %>
fb_user = "<%= @fb_user %>";
<% end %>
<% if @flickr_user %>
flickr_user = "<%= @flickr_user %>";
<% end %>

</script>