<% content_for :content do %>
<div class="main">                                           
    <% if not @fb_user %>
        <h2> Step 1: Login into your Facebook Account </h2>
    <% elsif @fb_user and not @flickr_user %>
        <h2> Step 2: Authenticate your Flickr Account </h2>
    <% else %>
        <h2> Step 3: Choose the sets that you want to import </h2>
    <% end %>

    <div class="row">
        <div class="span4"> &nbsp; </div>
        <div class="span3">
            <img src = "/assets/<%= @flickr_user ? "flickr.png":"flickr-not-authenticated.png" %>">
            <% if not @fb_user %>
                &nbsp;
            <% elsif @fb_user and not @flickr_user %>
                <a href="/flickr-auth" class="btn large" onclick="_gaq.push(['_trackEvent', 'Auth', 'Flickr', 'start']);" style="color: #FE63BB; font-size: 22px"> 
                    Authenticate
                </a> <br>                
            <% else %>
                Logged in as <a href="http://www.flickr.com" style="color: #FE63BB; font-weight: bold;"><%= @flickr_user %> </a>
            <% end %>
            &nbsp;
        </div>
        <div class="span2">
            <img src="/assets/arrow.png" style="padding-top: 50px;"> 
            &nbsp;
        </div>
        <div class="span3">
            <img src = "/assets/<%= @fb_user ? "facebook.png":"facebook-not-authenticated.png" %>">
            <% if not @fb_user %>
                <a href="facebook-auth" onclick="_gaq.push(['_trackEvent', 'Auth', 'Facebook', 'start']);"> <img src="/assets/facebook-login-button.png" /> </a> <br>                
            <% else %>
                Logged in as <a href="http://www.facebook.com/<%= @fb_user %>" style="font-weight:bold"><%= @fb_user.fb_first_name %> <%= @fb_user.fb_last_name %></a>
            <% end%>

        </div>
        <div class="clear"></div>
    </div>
    <div id="sets"> </div>
</div>

<script type="text/javascript">
var fb_user;
var flickr_user;
<% if @fb_user %>
fb_user = "<%= @fb_user %>";
<% end %>
<% if @flickr_user %>
flickr_user = "<%= @flickr_user %>";
<% end %>
</script>
<% end %>


<% content_for :javsacript do %>
<% end %>
