<% content_for :content do %>
<div class="main login-flow">
    
    <table class="pgStyle1 circle3" cellspacing="0">
    <tbody><tr>
        <td class="c <%= @step1 %>"><var>1</var></td><td class="t"><b id="pagecircle1">Sign in into Facebook</b></td>
        <td class="c <%= @step2 %>"><var>2</var></td><td class="t"><b id="pagecircle2">Sign in to Flickr/Picasa</b></td>
        <td class="c <%= @step3 %>"><var>3</var></td><td class="t"><b id="pagecircle3">Migrate photos</b></td>
    </tr></tbody>
    </table>
    
    <div class="row">&nbsp;</div>
    <div class="row">
        
        <% if @step == 1 %>
           <div class="span7"> &nbsp; </div>
            <div class="span3">
                <img src = "/assets/facebook.png">
                <% if not @fb_user %>
                    <a href="facebook-auth" onclick="_gaq.push(['_trackEvent', 'Auth', 'Facebook', 'start']);"> <img src="/assets/facebook-login-button.png" /> </a> <br>
                <% end%>

            </div>
        <% elsif @step == 2 %>
           <% if @fb_user and not @flickr_user %>
           <div class="span4"> &nbsp; </div>
           
           <div class="span3 flickr-login">
                <img src = "/assets/flickr.png">
                    <a href="/flickr-auth" class="btn" onclick="_gaq.push(['_trackEvent', 'Auth', 'Flickr', 'start']);"> 
                      Authenticate 
                    </a> 
                &nbsp;
            </div>
            
            <div class="span3 flickr-or-picasa">
                <div class="separator-top"></div>
                <div class="or-text">OR</div>
                <div class="separator-top"></div>
            </div>
            
            <div class="span3 picasa-login">
                    <img src = "/assets/picasa.png">
                        <a href="/google-auth" onclick="_gaq.push(['_trackEvent', 'Auth', 'Picasa', 'start']);" style="color: #FE63BB; font-size: 22px"> 
                          <table>
                              <tr>
                          <td class="bbl"></td><td class="bbm">Authenticate</td><td class="bbr"></td>
                              </tr>
                          </table> 
                        </a> 
                    &nbsp;
            </div>
                        
           <% end %>
        <% end %>
        <div class="clear"></div>
    </div>
</div>

<script type="text/javascript">
var fb_user;
var flickr_user;
<% if @fb_user %>
fb_user = "<%= @fb_user %>";
<% end %>
<% if @flickr_user %>
flickr_user = "<%= @flickr_user %>";
<% end %>
</script>
<% end %>


<% content_for :javsacript do %>
<% end %>
