<% content_for :content do %>
<div class="main">                                           
    <% if not @fb_user %>
        <h2> Step 1: Login into your Facebook Account </h2>
    <% elsif @fb_user and not @flickr_user %>
        <h2> Step 2: Authenticate your Flickr Account </h2>
    <% else %>
        <h2> Step 3: Choose the sets that you want to import </h2>
    <% end %>

    <div class="row">
        <div class="span4"> &nbsp; </div>
        <div class="span3">
            <img src = "/assets/<%= @flickr_user ? "flickr.png":"flickr-not-authenticated.png" %>">
            <% if not @fb_user %>
                &nbsp;
            <% elsif @fb_user and not @flickr_user %>
                <a href="/flickr-auth" class="btn large" style="color: #FE63BB; font-size: 22px"> 
                    Authenticate
                </a> <br>                
            <% else %>
                Logged in as <a href="http://www.flickr.com" style="color: #FE63BB; font-weight: bold;"><%= @flickr_user %> </a>
            <% end %>
            &nbsp;
        </div>
        <div class="span2">
            <img src="/assets/arrow.png" style="padding-top: 50px;"> 
            &nbsp;
        </div>
        <div class="span3">
            <img src = "/assets/<%= @fb_user ? "facebook.png":"facebook-not-authenticated.png" %>">
            <% if not @fb_user %>
                <a href="facebook-auth"> <img src="/assets/facebook-login-button.png" /> </a> <br>                
            <% else %>
                Logged in as <a href="http://www.facebook.com/<%= @fb_user %>" style="font-weight:bold"><%= @fb_user %></a>
            <% end%>

        </div>
        <div class="clear"></div>
    </div>
    <div id="sets"> </div>
</div>

<pre class="prettyprint hide" style="position: absolute; bottom: 0; width: 960px">
        Facebook: <%= debug(@fb_user) if @fb_user %>
        Flickr: <%= debug(@flickr_user) if @flickr_user %>
        <%= @flickr_user.inspect %>
</pre>
<% if @fb_user and @flickr_user %>
<script id="sets_list_template" type="text/x-jquery-tmpl">
<div>
    <h4> Choose sets that you want to import </h4>
    <%= form_tag("flickr/import-sets", :method => "post") do %>
        <div class="sets">
            {{each(index, set) sets}}
                <div class="set">
                    <label>
                        <div class="cover">
                            <img id="${set.primary}" src="/assets/circle-loading.gif" style="margin: 0 auto; display: block">
                        </div>
                        <div style="font-size: 0.8em; font-weight: bold">
                        <input type="checkbox" name="set[]" value="${set.id}" id="${set.id}">
                        ${set.title} 
                        <a target="_blank" href="http://flickr.com/photos/<%= @user.flickr_user_nsid %>/sets/${set.id}">
                            <img style="padding: 2px 5px; vertical-align: top" src="/assets/external-link.png">
                        </a>
                        </div>
                    </label>
                </div>
            {{/each}}
        </div>
        <center class="push-down">
            <button class="btn large success"> Import Sets Now! </button>
        </center>
    <% end %>
</div>
</script>
<% end %>
<script type="text/javascript">
var fb_user;
var flickr_user;
<% if @fb_user %>
fb_user = "<%= @fb_user %>";
<% end %>
<% if @flickr_user %>
flickr_user = "<%= @flickr_user %>";
<% end %>
</script>
<% end %>


<% content_for :javsacript do %>
<% end %>
