<% content_for :content do %>
<div class="main">
    <% if @fb_user and @flickr_user %>
        <div class="alert-message block-message success">
            <div class="row">
                <div class="transfer-info">
                Photos from <a href="http://flickr.com/<%= @user.flickr_user_nsid %>"> <%= @flickr_user %> </a> in Flickr to be moved to  <a href="http://facebook.com/<%= @fb_user.user %>"><%= @fb_user.fb_first_name %> <%= @fb_user.fb_last_name %> </a> in Facebook.
                </div>
            </div>
        </div>
        <ul class="tabs navtab">
          <li class="active first"><a href="/migrate">Move photos</a></li>
          <li><a href="/status">Uploaded photos</a></li>
        </ul>
        <div id="sets">
        </div>
    <% else %>
    <% end %>
</div>


<script type="text/javascript">
var fb_user;
var flickr_user;
<% if @fb_user %>
fb_user = "<%= @fb_user %>";
<% end %>
<% if @flickr_user %>
flickr_user = "<%= @flickr_user %>";
<% end %>
</script>

<% if @fb_user and @flickr_user %>
<script id="sets_list_template" type="text/x-jquery-tmpl">
<div>

    <div id="select_all_wrapper" class="pull-right span2"> <label for="select_all">Select all</label><input type="checkbox" id="select_all"></div>

    <h2> Choose Flickr sets that you want to migrate to Facebook. </h2>
    <%= form_tag("flickr/import-sets", :method => "post", :id=>'upload-photos-form') do %>
        <div class="sets">
            {{each(index, set) sets}}
                <div class="set">
                    <label>
                        <div class="cover">
                            <img class="thumb" id="${set.primary}" src="http://farm${set.farm}.staticflickr.com/${set.server}/${set.primary}_${set.secret}_s.jpg" style="margin: 0 auto; display: block"\     > 
                            <img class="check" src="/assets/check.png">
                            <span class="count">${set.photos}</span>
                            <div style="clear:both;"></div>
                        </div>
                        <div style="clear:both;"></div>
                    </label>    
                    <div class="thumb-title">
                        <input type="checkbox" onclick="_gaq.push(['_trackEvent', 'Select_Sets', '#{set.id}']);" name="set[]" value="${set.id}" id="${set.id}">
                        ${set.title} 
                        <a target="_blank" href="http://flickr.com/photos/<%= @user.flickr_user_nsid %>/sets/${set.id}">
                            <img style="vertical-align: middle" src="/assets/flickrico.png">
                        </a>
                    </div>
                </div>
            {{/each}}
        </div>
        <center class="push-down">
            <button class="btn large success"> Import Sets Now! </button>
        </center>
    <% end %>
</div>
</script>
<% end %>

<% end %>