<% content_for :content do %>

<div class="main">
    <% if @fb_user and @flickr_user %>
        <div class="alert-message block-message success">
            <div class="row">
                <div class="transfer-info">
                Photos from <a href="http://flickr.com/<%= @user.flickr_user_nsid %>"> <%= @flickr_user %> </a> in Flickr to be moved to  <a href="http://facebook.com/<%= @fb_user.user %>"><%= @fb_user.fb_first_name %> </a> in Facebook.
                </div>
            </div>
            
        </div>
        
        <ul class="tabs navtab">
          <li class="first"><a href="/migrate">Move photos</a></li>
          <li class="active"><a href="/status">Uploaded photos</a></li>
        </ul>
        <div id="sets" class="row">
            <div id="queue"></div>
        </div>
    <% else %>
    <% end %>
</div>

<script type="text/javascript">
var fb_user;
var flickr_user;
<% if @fb_user %>
fb_user = "<%= @fb_user %>";
<% end %>
<% if @flickr_user %>
flickr_user = "<%= @flickr_user %>";
<% end %>
</script>

<% if @fb_user and @flickr_user %>

<script id="inqueue_sets_list_template" type="text/x-jquery-tmpl">
<div>
        <div class="sets">
            {{each(index, set) sets}}
                <div class="set">
                    <label>
                        <div class="cover">
                            <img class="thumb" id="${set.primary}" src="http://farm${set.farm}.staticflickr.com/${set.server}/${set.primary}_${set.secret}_s.jpg" style="margin: 0 auto; display: block">
                            <div class="progressbar" data="${set.progress.percent}"><div class="fill" style="width:${set.progress.percent}%">&nbsp;</div><div class="data">${set.progress.done}/${set.progress.total}</div></div>
                        </div>
                    </label>
                    <div class="thumb-title">
                        ${set.title}<br/>
                        <a target="_blank" href="http://flickr.com/photos/<%= @user.flickr_user_nsid %>/sets/${set.id}">
                            <img style="vertical-align: middle" src="/assets/flickrico.png">
                        </a>
                        {{each(idx, album) set.fb_albums}}
                            <a href="http://facebook.com/${album}"><img style="vertical-align: middle" src="/assets/fbico.png"></a>
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        </div>
</div>
</script>

<script id="uploaded_sets_list_template" type="text/x-jquery-tmpl">
<div>
    <h4> Uploaded sets </h4>
        <div class="sets">
            {{each(index, set) sets}}
                <div class="set">
                    <label>
                        <div class="cover">
                            <img class="thumb" id="${set.primary}" src="http://farm${set.farm}.staticflickr.com/${set.server}/${set.primary}_${set.secret}_s.jpg" style="margin: 0 auto; display: block">
                        </div>
                    </label>
                    <div style="thumb-title">                        
                        ${set.title}<br/>
                    <a target="_blank" href="http://flickr.com/photos/<%= @user.flickr_user_nsid %>/sets/${set.id}">
                        <img style="vertical-align: middle" src="/assets/flickrico.png">
                    </a>
                        {{each(idx, album) set.fb_albums}}
                            <a href="http://facebook.com/${album}"><img style="vertical-align: middle" src="/assets/fbico.png"></a>
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        </div>
</div>
</script>
<% end %>

<% end %>
