<% content_for :content do %>

<div class="main">
    <% if @fb_user and @flickr_user %>
        <div class="alert-message block-message success">
            <div class="row">
                <div class="transfer-info">
                Photos from <a href="http://flickr.com/<%= @user.flickr_user_nsid %>"> <%= @flickr_user %> </a> in Flickr to be moved to  <a href="http://facebook.com/<%= @fb_user.user %>"><%= @fb_user.fb_first_name %> </a> in Facebook.
                </div>
            </div>
            
        </div>
        <div id="sets" class="row">
            <div id="queue" class="span8"></div>
            </div id="done" class="span8"></div>
        </div>
    <% else %>
    <% end %>
</div>

<script type="text/javascript">
var fb_user;
var flickr_user;
<% if @fb_user %>
fb_user = "<%= @fb_user %>";
<% end %>
<% if @flickr_user %>
flickr_user = "<%= @flickr_user %>";
<% end %>
</script>

<% if @fb_user and @flickr_user %>

<script id="inqueue_sets_list_template" type="text/x-jquery-tmpl">
<div>
    <h4> Sets currently in Migration Queue </h4>
        <div class="sets">
            {{each(index, set) sets}}
                <div class="set">
                    <label>
                        <div class="cover">
                            <img id="${set.primary}" src="http://farm${set.farm}.staticflickr.com/${set.server}/${set.primary}_${set.secret}_s.jpg" style="margin: 0 auto; display: block">
                            
                        </div>
                        <div style="font-size: 0.8em; font-weight: bold">
                            ${set.title} 
                        <a target="_blank" href="http://flickr.com/photos/<%= @user.flickr_user_nsid %>/sets/${set.id}">
                            <img style="padding: 2px 5px; vertical-align: top" src="/assets/external-link.png">
                        </a>
                        </div>
                    </label>
                </div>
            {{/each}}
        </div>
</div>
</script>

<script id="uploaded_sets_list_template" type="text/x-jquery-tmpl">
<div>
    <h4> Sets that have been already uploaded </h4>
        <div class="sets">
            {{each(index, set) sets}}
                <div class="set">
                    <label>
                        <div class="cover">
                            <img id="${set.primary}" src="http://farm${set.farm}.staticflickr.com/${set.server}/${set.primary}_${set.secret}_s.jpg" style="margin: 0 auto; display: block">
                        </div>
                        <div style="font-size: 0.8em; font-weight: bold">
                            ${set.title} 
                        <a target="_blank" href="http://flickr.com/photos/<%= @user.flickr_user_nsid %>/sets/${set.id}">
                            <img style="padding: 2px 5px; vertical-align: top" src="/assets/external-link.png">
                        </a>
                        </div>
                    </label>
                </div>
            {{/each}}
        </div>
</div>
</script>
<% end %>

<% end %>
