<!DOCTYPE html>
<html>
<head>
    <title>Goyaka Export | Move photos to Facebook</title>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Salsa" %>
    <%= stylesheet_link_tag    "application" %>

    <%= csrf_meta_tags %>
    <meta property="og:title" content="Goyaka Export - Move photos to facebook"/>
    <meta property="og:type" content="product"/>
    <meta property="og:url" content="http://export.goyaka.com/"/>
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content="http://www.goyaka.com/"/>
    <script>
    function popup(pageURL, title,w,h) {
        var left = (screen.width/2)-(w/2);
        var top = (screen.height/2)-(h/2);
        var targetWin = window.open(
            pageURL,
            title,
            'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left
        );
    }
    </script>
    <!--[if IE]>
    <script>
    var tags = ['header', 'section'];
    while(tags.length)
    document.createElement(tags.pop());
    </script>
    <![endif]-->
</head>
<body>
    <%= yield %>
    <footer>
        <a href="http://www.goyaka.com/"><h1 class="logo">Goyaka Labs</h1></a>
    </footer>
</body>
<%= javascript_include_tag "application" %>
</html>
