<!DOCTYPE html>
<html>
<head>
    <title> UnifyPhotos | Move Flickr photos to Facebook</title>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Salsa" %>
    <%= stylesheet_link_tag    "application" %>

    <%= csrf_meta_tags %>
    <meta property="og:title" content="UnifyPhotos - Move photos to facebook"/>
    <meta property="og:type" content="product"/>
    <meta property="og:url" content="http://export.goyaka.com/"/>
    <meta property="og:image:url" content="http://export.goyaka.com/assets/goyaka-logo.png"/>
    <meta property="og:site_name" content="http://www.goyaka.com/"/>
    <meta property="fb:admins" content="501316538"/>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27906366-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
    <header>
        <div class="header-wrap">            
            <% if @fb_user%>
            <ul class="nav secondary-nav menu-buttons">
                <li class="dropdown" data-dropdown="dropdown">
                    <a style="display:inline-block" href="#" class="dropdown-toggle"><%= @fb_user.fb_first_name %> <%= @fb_user.fb_last_name %></a>
                    <ul class="dropdown-menu" id="lilo-dropdown">
                        <% if @flickr_user  %>
                        <li> <div class="info">Linked accounts:<br>
                            <a class="flickr-account" href="http://flickr.com/<%= @fb_user.flickr_user_nsid %>" target="_blank"> <%= @flickr_user %></a>  </div></li>
                        <% end %>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <% end %>
            <h1><a href="/"> UnifyPhotos </a></h1>
            <div style="clear:both"></div>
        </div>
    </header>
    
    <%= yield :content %>
    <footer>
        <a class="footer-logo" href="http://www.goyaka.com/" target="new"><h1 class="logo">Goyaka Labs</h1></a>
        <div class="fb-like">
            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fexport.goyaka.com%2F&amp;send=false&amp;layout=standard&amp;width=650&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;appId=308588435839593" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
    </footer>
</body>
<%= javascript_include_tag "application" %>
<%= yield :javascript %>

<script type="text/javascript">
/*
  var goyakac = goyakac || {};
  goyakac.client = '10001';

  (function() {
    var A = document.createElement('script'); A.type = 'text/javascript'; A.async = true;
    A.src = 'http://chat.goyaka.com/static/chat.js';
    var B = document.getElementsByTagName("head")[0];         
    B.appendChild(A);
  })();*/
</script>
</html>
