<!DOCTYPE html>
<html>
<head>
    <title>Goyaka Export | Move photos to Facebook</title>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Salsa" %>
    <%= stylesheet_link_tag    "application" %>

    <%= csrf_meta_tags %>
    <meta property="og:title" content="Goyaka Export - Move photos to facebook"/>
    <meta property="og:type" content="product"/>
    <meta property="og:url" content="http://export.goyaka.com/"/>
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content="http://www.goyaka.com/"/>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27906366-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
    <div id="fb-root"></div>
    <%= yield :content %>
    <footer>
        <a href="http://www.goyaka.com/" target="new"><h1 class="logo">Goyaka Labs</h1></a>
    </footer>
</body>
<%= javascript_include_tag "application" %>
<%= yield :javascript %>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=266622343393824";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<script type="text/javascript">

  var goyakac = goyakac || {};
  goyakac.client = '10001';

  (function() {
    var A = document.createElement('script'); A.type = 'text/javascript'; A.async = true;
    A.src = 'http://chat.goyaka.com/static/chat.js';
    var B = document.getElementsByTagName("head")[0];         
    B.appendChild(A);
  })();
</script>
</html>
